{% raw %}
{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <h1>Login</h1>
        <p>You can <a href="{{ url_for('auth.register') }}">register</a> here.</p>
        <form action="" method="post" name="login">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username(class="form-control", placeholder="Enter username...") }}
        </div>
        {% for error in form.username.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <div class="form-group">
            {{ form.password(class="form-control", placeholder="Enter password...") }}
        </div>
        {% for error in form.password.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <div class="checkbox">
            <label>
                {{ form.remember_me() }} Remember Me
            </label>
        </div>
        {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}
{% endraw %}
